* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 100vw;
}

.icon {
    width: 24px;
    height: 24px;
}

.search-icon {
    width: 18px;
    height: 18px;
}

#container {
    display: grid;
    grid-template-columns:50px auto 300px;
    grid-template-rows: 70px auto;
    grid-template-areas: "nav topbar article" 
                        "nav main article";
}

nav {
    padding: 20px 0;
    height: 100vh;
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    
}

nav #navigation {
    /* border: 1px solid green; */
    height: 400px;
}

nav #navigation ul {
    list-style-type: none;
    height: inherit;
    /* border: 1px dashed orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: rgb(93, 112, 255);
}

#topbar {
    grid-area: topbar;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: ghostwhite;
}

#topbar #navigator {
    display: flex;
    width: 600px;
    justify-content: flex-end;
}

#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topbar #navigator #search {
    width: 520px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    background: none;
}

#topbar #navigator #search form {
    width: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin-right: 10px;
}



#topbar #navigator #search input[type=text] {
    width: 240px;
    height: 30px;
    border: 1px solid rgb(221, 221, 221);
    padding-left: 10px;
    outline: none;
    background: none;
    border-radius: 50px;
}

.search-icon {
    opacity: .4;
}

#topbar #navigator #search button{
    background-color: rgb(93, 112, 255);
    border: none;
    width: 80px;
    height: 30px;
    color: white;
    border-radius: 50px;
}

#topbar #navigator #search button:hover{
    background-color: rgb(183, 191, 255);
    color: rgb(93, 112, 255);
}

main {
    grid-area: main;
}

main  #day-week {
    padding: 20px;
}

main  #day-week #day-week-menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
}

main  #day-week #day-week-menu ul li {
    padding-right: 80px;
}

main  #day-week #day-week-menu ul li a {
    color: black;
    text-decoration: none;
}

main  #day-week #day-week-menu ul li a:hover {
    color: rgb(93, 112, 255);
    text-decoration: underline;
}
main #expanded-view {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: ghostwhite;
}

main #expanded-view .sq-desc {
    width: 130px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 6px 1px rgba(145, 152, 199, .2);
    border-radius: 8px;
    padding: 5px;
}

main #weather-descriptions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "wind-speed pressure pressure"
                        "visibility visibility humidity"
    ;
    padding: 10px;
}

main #weather-descriptions .desc-sq {
    height: 164px;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 8px;
}

main #weather-descriptions .desc-sq p{
    height: 164px;
    padding: 10px;
}

main #weather-descriptions #wind-speed {
    grid-area: wind-speed;
    width: 300px; 
    margin: 8px 10px 0 0;
}

main #weather-descriptions #pressure {
    grid-area: pressure;
    margin: 8px 5px 0 0;
}

main #weather-descriptions #visibility {
    grid-area: visibility;
    margin: 8px 10px 0 0;
}

main #weather-descriptions #humidity {
    grid-area: humidity;
    width: 400px;
    margin: 8px 5px 0 0;
}


article {
    border-left: 5px solid rgb(93, 112, 255);
    grid-area: article;
    text-align: center;
    background-color: ghostwhite;
}

article #date {
    /* border: 1px solid blue; */
    width: inherit;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 50px;
}

article #date h2 {
    font-weight: 600;
    text-transform: uppercase;
}

article #date h3 {
    font-weight: 400;
}

article #article-weather {
    padding: 10px 0;
    /* border: 1px solid red; */
}

article #article-weather {
    font-size: 160px;
}

article #weather-description {
    font-size: 64px;
    padding: 30px 0;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: rgb(93, 112, 255);
}

article #weather-description #temp-desc {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #000;
}

article #weather-description #temp-minmax #low-high {
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(116, 126, 204);
    padding: 10px 0;
}

article #weather-description #temp-minmax #low-high .low,
article #weather-description #temp-minmax #low-high .high {
    padding: 10px;
    font-size: 16px;
}

article #article-location {
    padding: 30px 0;
}

article #article-location #loc {
    display: flex;
    justify-content: center;
    align-items: center;
}

article #article-location p {
    width: 200px;
    text-align: center;
    color: rgb(93, 112, 255);
    font-size: 18px;
    text-transform: capitalize;
    background-color: rgba(93, 112, 255, .18);
    border-radius: 8px;
    font-weight: 700;
}

article #article-btn {
    padding-top: 70px;
}

article #article-btn button {
    width: 200px;
    height: 40px;
    background: none;
    border: 1px solid rgb(93, 112, 255);
    border-radius: 8px;
    color: rgb(93, 112, 255);
}

article #article-btn button:hover {
    width: 200px;
    height: 40px;
    background: rgb(93, 112, 255);
    border: 1px solid rgb(93, 112, 255);
    border-radius: 8px;
    color: white;
}

#farehnheit {
    background-color: rgb(93, 112, 255);
    color: white;
    font-weight: 500;
}

#topbar #navigator #temp #farehnheit {
    border: none;
}

select {
    border: 1px solid rgb(221, 221, 221);
    height: 30px;
    border-radius: 8px;
    color: rgb(120, 120, 120);
    background-color: none;
}